<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Telebras S.A.</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
          <%= link_to "Sobre", site_home_index_path(anchor: 'sobre') ,
              class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to "Análise", site_home_index_path(anchor: 'analise') ,
              class: "nav-link js-scroll-trigger" %>
        </li>
         <li class="nav-item">
          <%= link_to "Administração", rails_admin_path,
              class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contato", site_home_index_path(anchor: 'contact') ,
              class: "nav-link js-scroll-trigger" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
