<!-- Navigation -->


<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">Internet Para Todos</h1>
          <p class="intro-text">Avaliação de Localidade.</p>
          <a href="#analise" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="sobre" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Sobre Internet para todos</h2>
        <p>O “Internet para Todos” projeta levar internet em banda larga para todos os municípios brasileiros, com o intuito de promover mais conhecimento, compartilhamento de informações e diversão à população, bem como melhorar a comunicação e a atuação das gestões municipais. O principal objetivo do Programa é democratizar o acesso à internet buscando a inclusão social.</p>

        <p>A banda larga do programa virá do Satélite Geoestacionário de Defesa e Comunicações Estratégicas (SGDC), que recebeu R$ 3 bilhões em investimentos do governo federal. Em órbita desde maio de 2017, o satélite possui uma banda Ka, que será usada para ampliar o acesso à internet por meio de convênios com as prefeituras e os ministérios da Saúde e da Educação.</p>

        <p>Para o município aderir ao projeto basta enviar um ofício para o Departamento de Inclusão Digital do MCTIC, por e-mail (internetparatodos@mctic.gov.br) ou por Correios (Departamento de Inclusão Digital, Esplanada dos Ministérios, Bloco R Anexo, Sala 300 Leste, CEP 70.044-900, Brasília - DF).</p>

        <p>O “Internet para Todos” não oferecerá conexão de internet gratuita para a população, mas a preços reduzidos. Hospitais, escolas e outros espaços públicos terão acesso gratuito, por meio de convênios estabelecidos.</p>

        <p>O MCTIC produziu comunicado recente aos prefeitos(as) apresentando o Programa e convidando os gestores municipais para realizarem a adesão. Disponibilizaram inclusive um modelo de ofício a ser preenchido e enviado pelas prefeituras ao Ministério.</p>

        <p>Fonte: MCTIC</p>
      </div>
    </div>
  </div>
</section>

<!-- Download Section -->
<section id="analise" class="analysis-section content-section text-center">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>Análise de distâncias</h2>
      <p>Este tópico analisa as distâncias das localidades informadas pelas prefeituras até
      as estações de rádio das operadoras de celular na localidade.</p>
      <%= link_to "Análise de Distâncias ", site_analyzes_index_path,  class: "btn btn-default btn-lg" %>
<!--     <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Análise de Distâncias</a> -->
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contato Telebras S.A.</h2>
        <p>Regional Porto Alegre: (61) 2027-1983/1984</p>
      </div>
    </div>
  </div>
</section>
